
<head>
    <title>SDK Demo Reset Password Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/style.css" rel="stylesheet" />
    <script src="../js/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="section-menu" style="overflow: inherit;">
        <div class="menu-header">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="../images/lr-logo.png" /></a>
            <span style="display:block;margin-left:120px">SDK Web Demo</span>
            <div class="button-group">
                <a asp-area="" asp-controller="Home" asp-action="Index">Minimal</a>
                <a asp-area="" asp-controller="Home" asp-action="LoginScreen">Login Screen</a>
            </div>
        </div>
        <div class="section-main">
            <div class="resetpassword-elem">
                <h3>Reset Password</h3>
                <div class="container">
                    <table>
                        <tr><td>Password: </td><td><input name="email" type='password' id='minimal-resetpassword-password' /></td></tr>
                        <tr><td>Confirm Password: </td><td><input name="email" type='password' id='minimal-resetpassword-confirmpassword' /></td></tr>
                    </table>
                    <button id="btn-minimal-resetpassword">Reset Password</button><br />
                    <span id="minimal-resetpassword-message"></span>
                </div>
            </div>
        </div>
        <script src="../js/resetPassword.js"></script>
</body>
