
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccountProvider</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://auth.lrcontent.com/v2/LoginRadiusV2.js"></script>
    
    <script type="text/javascript">

        var commonOptions = {};
        commonOptions.apiKey = "";
        commonOptions.appName = "";
        commonOptions.sott = "";


        
        commonOptions.hashTemplate = true;
        commonOptions.isAccessToken = true;
        commonOptions.verificationUrl = "http://localhost:58955/Home/Index";
        commonOptions.forgotPasswordUrl = "http://localhost:58955/Home/Index";
        commonOptions.callbackUrl = "http://localhost:58955/Home/Index";
        commonOptions.inFormValidationMessage = true;
        var LRObject= new LoginRadiusV2(commonOptions);


        LRObject.util.ready(function() {
            
            var rt = {};
            rt.onSuccess = function(response) {
                console.log(response);
                window.location.reload();
            };
            rt.onError = function(errors) {
                console.log(errors);
                window.location.reload();
            };
            rt.container = "login-container";
            rt.classPrefix = "login-container";
            rt.templateName = "loginradiuscustom_tmpl";
            LRObject.init('linkAccount',rt);
        });
         
    </script>

    <script type="text/html" id="loginradiuscustom_tmpl1">
        <a class="lr-provider-label" href="javascript:void(0)" onclick="return  o1.util.openWindow('<#= Endpoint #>');" title="<#= Name #>" alt="Sign in with <#=Name#>">
            <# =Name#>
        </a>
    </script> 
    <script type="text/html" id="loginradiuscustom_tmpl">
        <# if(isLinked) { #>
            <div class="lr-linked">
                <a class="lr-provider-label" href="javascript:void(0)" title="<#= Name #>" alt="Connected">
                    <#=Name#> is connected
                </a>
                <a onclick='return  <#=ObjectName#>.util.unLinkAccount(\"<#= Name.toLowerCase() #>\",\"<#= providerId #>\")'>delete</a>
            </div>
            <# } else {#>
                <div class="lr-unlinked">
                    <a class="lr-provider-label" href="javascript:void(0)" onclick="return <#=ObjectName#>.util.openWindow('<#= Endpoint #>');" title="<#= Name #>" alt="Sign in with <#=Name#>">
                        <#=Name#>
                    </a>
                </div>
                <# } #>
    </script>
</head>
<body>
    <div>
        <h3>link account</h3>
        <div id="login-container">TODO write content</div>
    </div>
    <br /><br /><br /><br /><br /><br /><br />
    <div>
        @Html.ActionLink("Go Back", "Index", "Home")
    </div>
</body>
</html>
