@using LoginRadiusSDK.V2
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://auth.lrcontent.com/v2/LoginRadiusV2.js"></script>

    <script type="text/javascript">



        var commonOptions = {};
        commonOptions.apiKey = "@LoginRadiusSdkGlobalConfig.ApiKey";
        commonOptions.appName = "@LoginRadiusSdkGlobalConfig.AppName";
        commonOptions.sott = "";

        commonOptions.hashTemplate = true;
        commonOptions.isAccessToken = true;
        commonOptions.verificationUrl = "http://localhost:58955/Home/Index";
        commonOptions.forgotPasswordUrl = "http://localhost:58955/Home/Index";
        commonOptions.callbackUrl = "http://localhost:58955/Home/Index";
        commonOptions.inFormValidationMessage = true;
        var LRObject= new LoginRadiusV2(commonOptions);


        LRObject.util.ready(function() {
            var ot = {};
            ot.onSuccess = function(response,profile) {
                console.clear();
                console.log(response,profile);
                $('#pagedata').show();
                $('#login').hide();
                $("#social").show();
                $("#accountlink").show();
                getaccesstoken(response.access_token);

                localStorage.setItem("loginthru","social");


            };
            ot.onError = function(errors) {
                console.log(errors);
            };

            ot.container = "sociallogin-container";
            ot.templateName= "loginradiuscustom_tmpl";



            LRObject.customInterface(".interfacecontainerdiv", ot);
            LRObject.init('customInterface', ot);
            LRObject.init("socialLogin", ot);
        });






        function getaccesstoken(requestedtoken){

            $.get("GetAccessToken?Token="+requestedtoken+"", function(data, status){
                localStorage.setItem("access_token",data.access_token);

                //GetContactData();//Your LoginRadius site does not have permission to access this endpoint, please contact LoginRadius support for more information.
                //GetFollowingData();//The requested endpoint is not supported by the social identity provider.
                GetUserProfile();
            });
        }
        
        function GetAlbumData(){

            $.get("GetAlbumData", function(data, status){
                console.log(data);
            });
        }

        function GetAudioData(){

            $.get("GetAudioData", function(data, status){
                console.log(data);
            });
        }

        function GetCheckInData(){

            $.get("GetCheckInData", function(data, status){
                console.log(data);
            });
        }

        function GetCompanyData(){

            $.get("GetCompanyData", function(data, status){
                console.log(data);

                $("#GetCompanyData tr").remove();
                var i=0;
                if(data.Response[0]== null)
                {
                    alert('No company data');
                    return false;
                }
                $('#GetCompanyData').append('<tr><td>ID</td><td>Company</td></tr>');
                for(i=0; i<3;i++)
                {
                    $('#GetCompanyData').append('<tr><td>'+data.Response[i].ID+'</td><td>'+data.Response[i].Name+'</td></tr>');
                }
            });


        }

        function GetContactData(){

            $.get("GetContactData", function(data, status){
                console.log(data);
            });
        }

        function GetEventData(){

            $.get("GetEventData", function(data, status){
                console.log(data);
            });
        }

        function GetFollowingData(){

            $.get("GetFollowingData", function(data, status){

                console.log(data);
                if(data.Response!=null)
                {
                    $("#getfollowingdata tr").remove();

                    var count = data.Response.Data;
                    for(var i = 0 ; i <3;i++)
                    {
                        $('#getfollowingdata').append('<tr><th>Name</th><th>'+count[i].Name+'</th></tr><tr><td>Email</td><td>'+count[i].EmailID+'</td></tr><tr><td>PhoneNumber </td><td>'+count[i].PhoneNumber +'</td></tr><tr><td>Gender </td><td>'+count[i].Gender +'</td></tr><tr><td>DateOfBirth </td><td>'+count[i].DateOfBirth +'</td></tr></table>');
                    }

                }
                else
                {
                    alert('Something went wrong');
                }

            });
        }

        function GetGroupData(){

            $.get("GetGroupData", function(data, status){
                console.log(data);
            });
        }

        function GetLikeData(){

            $.get("GetLikeData", function(data, status){
                console.log(data);

                $("#getlikedata tr").remove();

                var count = data.Response.Data;
                for(var i = 0 ; i <3;i++)
                {
                    $('#getlikedata').append('<tr><th>Name</th><th>'+count[i].Name+'</th></tr><tr><td>Category</td><td>'+count[i].Category+'</td></tr><tr><td>CreatedDate</td><td>'+count[i].CreatedDate+'</td></tr><tr><td>Website</td><td>'+count[i].Website+'</td></tr></table>');
                }
            });
        }

        function GetMentionData(){

            $.get("GetMentionData", function(data, status){
                console.log(data);
            });
        }

        function GetVideoData(){

            $.get("GetVideoData", function(data, status){
                console.log(data);
            });
        }

        function GetUserProfile(){

            $.get("GetUserProfile", function(data, status){
                GetAccountPassword();
                console.log(data);
                $("#userprofile tr").remove();

                $('#userprofile').append('<tr><td>First Name</td><td>'+data.Response.FirstName+'</td></tr><tr><td>Last Name</td><td>'+data.Response.LastName+'</td></tr><tr><td>Birth Date</td><td>'+data.Response.BirthDate+'</td></tr><tr><td>Email</td><td>'+data.Response.Email[0].Value+'</td></tr><tr><td>State </td><td>'+data.Response.State +'</td></tr><tr><td>Country</td><td>'+data.Response.Country+'</td></tr><tr><td>ProfileUrl</td><td>'+data.Response.ProfileUrl+'</td></tr>');
            });
        };


        function GetPageData(){

            $.get("GetPageData", function(data, status){
                console.log(data);
            });
        }

        function PostStatus(){

            var Postmodel = {
                Title:document.getElementById("PsTitle").value ,
                Description : document.getElementById("PsDescription").value  ,
                Url : document.getElementById("PsUrl").value  ,
                Caption :document.getElementById("Pscaption").value  ,
                Status :document.getElementById("PsStatus").value,
                Imageurl : document.getElementById("Imageurl").value
            };

            var model =  $.post("PostStatus",Postmodel, function(data, status){

                console.log(data);
                console.log(status);
                if(data.Response != null)
                {
                    document.getElementById("PsTitle").value =document.getElementById("PsDescription").value  =document.getElementById("PsUrl").value  =document.getElementById("Pscaption").value  =document.getElementById("PsStatus").value= document.getElementById("Imageurl").value='';
                    alert('Status Posted Successfully');
                }else
                {
                    alert('Something went wrong');
                }

            });
        }

        function PostMessage(){

            $.get("PostMessage", { To: "John", Subject: "2pm",Message: "John" }, function(data, status){
                console.log(data);
            });
        }

        function FetchStatus()
        {
            $.get("FetchStatus",function(data,status){
                console.log(data);

                if(data.Response != null)
                {
                    var count = data.Response;

                    $("#FetchStatus tr").remove();
                    for(var i = 0 ; i< 3;i++)
                    {
                        $('#FetchStatus').append('<tr><th>Status</th><th>'+count[i].Text+'</th></tr><tr><td>DateTime</td><td>'+count[i].DateTime+'</td></tr><tr><td>Likes</td><td>'+count[i].Likes+'</td></tr><tr><td>Place</td><td>'+count[i].Place+'</td></tr><tr><td>Source</td><td>'+count[i].Source+'</td></tr><tr><td>ImageUrl</td><td>'+count[i].ImageUrl+'</td></tr><tr><td>LinkUrl</td><td>'+count[i].LinkUrl+'</td></tr><tr><td>Name</td><td>'+count[i].Name+'</td></tr></table>');
                    }

                }
            });
        }


        function GetAccountPassword()
        {
            $.get("GetAccountPassword",function(data,status){
                console.log(data);
                try
                {
                    if(data.Response.PasswordHash == null)
                    {
                        $('#SetPassword').show();
                        $('#changePassword').hide();
                    }
                    else {
                        $('#changePassword').show();
                        $('#SetPassword').hide();
                    }
                }
                catch(err)
                { alert('Something went wrong');}

            });
        }

        function DeleteAccount()
        {
            $.get("DeleteAccount",function(data,status){
                console.log(data);
                if(data.Response.IsDeleted== true)
                {
                    window.location.reload();
                    localStorage.clear();
                    alert('Account has been deleted');
                }
            });
        }

        function SetAccountPassword()
        {
            $.get("SetAccountPassword",{
                Password:document.getElementById("password").value
            },function(data,status){
                console.log(data);
                GetAccountPassword();
                try
                {if(data.Response != null )
                {
                    if(data.Response.PasswordHash != null)
                        alert('Password updated successfully');
                    $('#password').val('');
                    $('#cnfmpassword').val('');
                }
                else
                {
                    alert(data._ApiExceptionResponse.Description);
                }
                }
                catch(err)
                {
                    console.log(err);
                    alert('Something went wrong');}
            });
        }

        function ChangePassword()
        {
            var ChangePasswordModel= JSON.stringify({
                'OldPassword': $('#oldpassword').val(),
                'NewPassword': $('#newpassword').val()
            });

            $.post("ChangePassword",{ 'OldPassword':document.getElementById("oldpassword").value ,
                'NewPassword': document.getElementById("newpassword").value },
                function(data,status)
                {
                    console.log(data);
                    if(data.Response == null)
                        alert(data._ApiExceptionResponse.Description);
                    else if(data.Response.IsPosted)
                    {
                        alert('Password has been updated successfully');
                        $('#oldpassword').val('');
                        $('#newpassword').val('');
                        $('#cnfmnewpassword').val('');
                    }
                    else{
                        alert('Something went wrong');
                    }
                });
        }



        function forgotpassword(){
            $.get('forgotpassword',{Email:$('#forgotemail').val() ,resetPasswordUrl:'http://localhost:58955/Home/resetpasword'}, function(data, status){
                console.log(data, status);
                try{ if(data.Response.IsPosted)
                {
                    alert('Password reset link has been sent');
                }
                }
                catch(err)
                {
                    alert(data._ApiExceptionResponse.Message);
                }
            })
        }


    </script>

    <script type="text/html" id="loginradiuscustom_tmpl">
        <a class="lr-provider-label" href="javascript:void(0)"
           onclick="return <#=ObjectName#>.util.openWindow('<#=Endpoint#>');"
           title="<#=Name#>"
           alt="Sign in with <#=Name#>">
            <#=Name#>
        </a>

    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            var loginthru = localStorage.getItem("loginthru") ;
            if("tradional"== loginthru)
            {
                //alert('tarditional logged in');
                $("#login").hide();
                $("#pagedata").show();
                $("#social").hide();
                $("#accountlink").show();
                GetUserProfile();
            }
            else if("social"== loginthru )
            {
                //alert('Social logged in');
                $('#pagedata').show();
                $('#login').hide();
                $("#social").show();
                $("#accountlink").show();
            }
            else
            {
                $('#pagedata').hide();
                $('#login').show();
                $("#accountlink").hide();
            }

            //if(localStorage.getItem("access_token")!= null && localStorage.getItem("access_token")!= 'undefined' &&localStorage.getItem("access_token")!= undefined)
            //{



            //    $('#pagedata').show();
            //    $("#accountlink").show();
            //    $('#login').hide();
            //}
            //else
            //{
            //    $('#pagedata').hide();
            //    $('#login').show();
            //    $("#accountlink").hide();
            //}

            $('#SetPsswd').prop('disabled', true);
            $('#password').keyup(function () {
                if ($(this).val() != '') {

                    if($('#password').val()=== $('#cnfmpassword').val())
                    {
                        $('#SetPsswd').prop('disabled', false);
                    }
                    else
                    {$('#SetPsswd').prop('disabled', true);}

                }
            });
            $('#cnfmpassword').keyup(function () {
                if ($(this).val() != '') {

                    if($('#password').val()=== $('#cnfmpassword').val())
                    {
                        $('#SetPsswd').prop('disabled', false);
                    }
                    else
                    {$('#SetPsswd').prop('disabled', true);}
                }
            });


            $('#logout').click(function(){
                localStorage.clear();
                $.get('logout' , function(data,status){
                    $('#pagedata').hide();
                    $('#login').show();
                    $("#accountlink").hide();
                    alert('You are logout');
                });
            });

            $('#Register').click(function(){

                if($('#regpassword').val() == null || $('#regpassword').val().trim() == '')
                {
                    alert('Password Required');
                    return false;
                }
                else if($('#regpassword').val() != $('#regconfmpswd').val())
                {
                    alert('Password does not match');
                    return false;
                }
                var model = {
                    FirstName :$("#regfname").val(),
                    LastName:$("#reglname").val(),
                    BirthDate :$("#regdob").val(),
                    Gender:$("#reggender").val(),
                    Email :[{
                        Type:"Primary",
                        Value :$("#regemail").val()
                    }],
                    Password :$("#regpassword").val()
                };

                $.post("Register", model, function(data, success) {
                    if(data.Response== null)
                    {
                        alert(data._ApiExceptionResponse.Description);
                    }
                    else
                    {
                        alert('Account registered successfully');
                        $('#regemail').val('');
                        $('#regpassword').val('');
                        $('#regconfmpswd').val('');
                        $('#regfname').val('');
                        $('#reglname').val('');
                        $('#reggender').val('');
                        $('#regdob').val('');
                    }
                    console.log(data);
                    console.log(success);
                });
            })

            $('#btnlogin').click(function(){

                var model = {
                    email :$("#lgnemail").val(),
                    password:$("#lgnpassword").val()
                };
                $.post("Login", model, function(data, success) {

                    console.log(data);
                    console.log(success);

                    if(data.Response== null)
                    {
                        alert(data._ApiExceptionResponse.Message);
                    }
                    else
                    {
                        alert('You have been successfully logged in..."');
                        $("#login").hide();
                        $("#pagedata").show();
                        $("#social").hide();
                        $("#accountlink").show();
                        GetUserProfile();
                        localStorage.setItem("loginthru","tradional");
                    }
                    console.log(data);
                    console.log(success);
                });
            })

        });
    </script>






</head>

<body>
    <div id="login">
        <div>
            <h2>Social Login</h2>
            <div id="interfacecontainerdiv" class="interfacecontainerdiv"></div>
            <div id="sociallogin-container"></div>
        </div>
        <div>
            <h2>Register Account </h2>
            <table>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td> <input type="text" id="regemail" placeholder="Enter email" /> </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>:</td>
                    <td> <input type="password" id="regpassword" placeholder="****" /> </td>
                </tr>
                <tr>
                    <td>Confirm password</td>
                    <td>:</td>
                    <td> <input type="password" id="regconfmpswd" placeholder="****" /> </td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>:</td>
                    <td> <input type="text" id="regfname" placeholder="First Name" /> </td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>:</td>
                    <td> <input type="text" id="reglname" placeholder="Last Name" /> </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>:</td>
                    <td> <input type="text" id="reggender" placeholder="Gender" /> </td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>:</td>
                    <td> <input type="text" id="regdob" placeholder="DOB" /> </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button id="Register">Register</button>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Login through email </h3>

            <table>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td> <input type="text" id="lgnemail" placeholder="Enter email" />  </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>:</td>
                    <td> <input type="password" id="lgnpassword" placeholder="****" /> </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td> <button id="btnlogin">Login</button> </td>
                </tr>
            </table>

        </div>

        <div>
            <h3>Forgot password</h3>
            <table>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td> <input type="text" id="forgotemail" placeholder="email ID" /> </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><button onclick="forgotpassword()">Submit</button></td>
                </tr>
            </table>
        </div>
    </div>
    <br /><br /><br />
    <div id="pagedata">

        <button onclick="DeleteAccount()">Delete account</button>
        <button id="logout">Logout</button>

        <div id="SetPassword">
            <h3>Set password</h3>
            <table>
                <tr>
                    <th>Password</th>
                    <td>:</td>
                    <td> <input type="password" id="password" /> </td>
                </tr>
                <tr>
                    <th>Confirm Password</th>
                    <td>:</td>
                    <td> <input type="password" id="cnfmpassword" /> </td>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <td><button>Cancel</button><button onclick="SetAccountPassword()" id="SetPsswd">Submit</button></td>
                </tr>

            </table>

        </div>

        <br /><br /><br />

        <div id="changePassword">
            <h3>Change password</h3>
            <table>
                <tr>
                    <th>Old Password</th>
                    <td>:</td>
                    <td> <input type="password" id="oldpassword" /> </td>
                </tr>
                <tr>
                    <th>New Password</th>
                    <td>:</td>
                    <td> <input type="password" id="newpassword" /> </td>
                </tr>
                <tr>
                    <th>Confirm Password</th>
                    <td>:</td>
                    <td> <input type="password" id="cnfmnewpassword" /> </td>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <td><button>Cancel</button><button onclick="ChangePassword()">Submit</button></td>
                </tr>

            </table>

        </div>


        <table>
            <tr>
                <td colspan="2"><button onclick="GetUserProfile()"> User Profile</button></td>
            </tr>
            <tr>
                <td> <table id="userprofile" border="1"></table></td>
            </tr>
        </table>

        <div id="social">


            <table>
                <tr>
                    <td colspan="2"><button onclick="GetCompanyData()"> Company Data</button></td>
                </tr>
                <tr>
                    <td> <table id="GetCompanyData" border="1"></table></td>
                </tr>
            </table>

            <table>
                <tr>
                    <td colspan="2"><button onclick="PostStatus()"> PostStatus</button></td>
                </tr>
                <tr>
                    <td>
                        <table id="PostStatus" border="1">
                            <tr>
                                <td>Title</td>
                                <td> <input type="text" id="PsTitle" /> </td>
                            </tr>
                            <tr>
                                <td>Description </td>
                                <td> <input type="text" id="PsDescription" /> </td>
                            </tr>
                            <tr>
                                <td>Url </td>
                                <td> <input type="text" id="PsUrl" /> </td>
                            </tr>
                            <tr>
                                <td>Caption </td>
                                <td> <input type="text" id="Pscaption" /> </td>
                            </tr>
                            <tr>
                                <td>Status </td>
                                <td> <input type="text" id="PsStatus" /> </td>
                            </tr>
                            <tr>
                                <td>Imageurl  </td>
                                <td> <input type="text" id="Imageurl" /> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button onclick="PostStatus()">Submit</button></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <button onclick="FetchStatus()">Fetch Status</button> </td>
                </tr>
                <tr>
                    <td>
                        <table id="FetchStatus" border="1"></table>

                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <button onclick="GetLikeData()">Get Like Data</button> </td>
                </tr>
                <tr>
                    <td>
                        <table id="getlikedata" border="1"></table>

                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td> <button onclick="GetFollowingData()">Get Following Data</button> </td>
                </tr>
                <tr>
                    <td>
                        <table id="getfollowingdata" border="1"></table>
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div id="traditionallogin">
        <div>
            <table id="userprofiles" border="1"></table>
        </div>
    </div>


    <div>
        <h3>Account Provider</h3>
        @Html.ActionLink("Account provider", "AccountProvider");
    </div>
</body>

</html>





