<div class="main">
    <nav class="main-nav sticky-nav">
        <div class="container cf">
            <div class="logo no-text">
                <div class="logo-box">
                    <h1 class="logo">
                        <a href="/">LoginRadius</a>
                    </h1>
                    <div class="site-description">Customer Registration ASP.Net Demo</div>
                </div>
            </div>
            <!-- Fragment Caching -->
            <div class="secondary-menu">
                <ul id="menu-top-menu" class="menu">
                    <li id="loginaction"><a class="lr-raas-button lr-raas-theme-login trigger_popup">Click to Login</a>
                    <li id="logoutaction" style="display: none;">
                        <a class="lr-raas-button-x lr-raas-theme-changePassword" onclick="changePassword();">Change Password</a>
                        <a class="lr-raas-button-x lr-raas-theme-accountLinking" onclick="accountLinking();">Account Linking</a>
                        <a class="lr-raas-button-x lr-raas-theme-addEmail" onclick="addEmail();">Add Email</a>
                        <a class="lr-raas-button-x lr-raas-theme-logout" onclick="lrLogout();">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="homeinformation" class="lr-frame lr-input-style">
        <h2>A Complete User Authentication Solution </h2>
        <div style="  text-align: left;margin-top:20px;">
            Want to offer your users a choice between Social Login and Traditional Registration?
            We offer both, so you can manage all of your authentication systems in one place. LoginRadius Customer Registration
            and Social Login solutions work seamlessly together for a simplified registration system.
        </div>
        <div style="  text-align: left;margin-top:20px;">
            <h3>1. Managed Registration Service</h3>
            Our Managed Registration Service is a full user authentication solution for your web and mobile applications.
            The managed solution eliminates all the associated hassles with maintaining registration forms, and saves your
            engineering team significant time and resources.

            <h3>2. Fully Customizable</h3>
            LoginRadius Registration Service allows you to fully customize the registration form and login screen to match
            the look and feel of your website.

            <h3>3. Email Verification & Forgotten Service</h3>
            Email Verification of new sign-ups and forgotten username/password retrieval are simple fixes with LoginRadius
            Managed Registration.

            <h3>4. Custom Emails</h3>
            You can easily set custom email templates and content for email verification and forgotten usernames and
            password service. LoginRadius system also has the capability to connect to your existing email service
            provider.

            <h3>5. User Data Management</h3>
            Data storage is provided to help you manage your users and their data. You keep full ownership of the data and
            have full access at all times. LoginRadius also delivers a copy of the data to your local database.

            <h3>6. Works with Social Login</h3>
            Our Registration Service comes with Social Login and Social Account Linking. Your existing users can choose to
            migrate to Social Login if they would prefer, or log-in through Traditional Registration. Both systems work
            together seamlessly.

            <h3>7. Works with all Major Technologies</h3>
            The LoginRadius Platform works with all popular web technologies; WordPress, Drupal, Joomla, PHP, .NET,
            Javascript, Android, iOS and many more. You can see the complete list here.
        </div>
    </div>
    <div id="profileinformation" class="lr-frame lr-input-style" style="display: none;">
        <h2>My Profile</h2>
        <div style="text-align: left;margin-top:20px;">
            <div id="profiledata"></div>
        </div>
    </div>
    <div id="changepassowrd" class="lr-frame lr-input-style" style="display: none;">
        <h2>Change Password</h2>
        <div style="text-align: center;margin-top:20px;">
            <div id="changepassword-container" style="text-align: center;"></div>
        </div>
    </div>
    <div id="accountlinking" class="lr-frame lr-input-style" style="display: none;">
        <h2>Account Linking</h2>
        <div style="text-align: center;margin-top:20px;">
            <div id="interfacecontainerdiv_link" style="margin-left: 350px; margin-right: 350px; margin-bottom: 20px" class="interfacecontainerdiv_link"></div>
            <script type="text/html" id="loginradiuscustom_tmpl_link">
                <# if(isLinked) { #>
                    <div class="lr-linked">
                        <a class="lr-sl-shaded-brick-button lr-flat-<#=Name.toLowerCase()#>" href="javascript:void(0)" onclick='return  <#=ObjectName#>.util.unLinkAccount(\"<#= Name.toLowerCase() #>\",\"<#= providerId #>\")' title="<#=Name#>" alt="Connected">
                            <span class="lr-sl-icon lr-sl-icon-<#=Name.toLowerCase()#>"></span></span>
                            <#=Name#> is connected | Unlink <#=Name#>
                        </a>

                    </div>
                    <# } else {#>
                        <div class="lr-unlinked">

                            <a class="lr-sl-shaded-brick-button lr-flat-<#=Name.toLowerCase()#>" href="javascript:void(0)" onclick="return  <#=ObjectName#>.util.openWindow('<#= Endpoint #>');" title="<#=Name#>">
                                <span class="lr-sl-icon lr-sl-icon-<#=Name.toLowerCase()#>"></span></span>
                                Link With <#=Name#>

                            </a>

                        </div>
                        <# } #>
            </script>
        </div>
    </div>

    <div id="addemail" class="lr-frame lr-input-style" style="display: none;">
        <h2>Add Email</h2>
        <div style="text-align: center;margin-top:20px;">
            <div id="addemail-container" style="text-align: center;"></div>
        </div>
    </div>
</div>